.aboutme_text{
    color: darkslategray !important;
    font: smaller !important;
    line-height: 22px !important;
    white-space: pre-line !important;
}

.timeline_lists {
    padding-left: 14px;
}


.timeline_company{
    font-size: 18px !important;
    font-weight: bold !important;
}
.resume_timeline .timeline_content .timeline_title {
    font-size: 17px !important;
    font-style: italic;
    font-weight: 500 !important;
}

.resume_timeline .timeline_content .timeline_date {
    color: darkslategray;
    font-size: 15px;
}

.resume_timeline .timeline_content .timeline_desc {
    color: gray;
    font-size: 14px;
    margin-top: 6px;
}

.timeline_gradDate{
    font-size: 16px !important;
    
}
.timeline_major {
    font-size: 16px !important;
    font-style: italic;
}

.skill{
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 0px 28px 0px rgba(4,6,4,0.08) !important;
    min-height: 186px;
    height: 100%;
}

.skill .skill_title{
    font-size: 14px !important;
    font-weight: 600 !important;
    line-height: 35px !important;
    text-align: center;
    padding-bottom: 3px;
}

.skill .skill_desc{
    display: flex;
    align-items: center;
    color: #989898 !important;
    font-weight: 400 !important;
    line-height: 18px !important;
}

.skill .skill_desc .timeline_dot {
    border-color: var(--main-color) !important;
    padding: 2px !important;
    margin-right: 5px !important;
}

