.timeline{
    padding: 0;
}

/* Header */

/* Header Title */
.timeline .timeline_header {
    padding-top: 7px;
}

.timeline .timeline_firstItem {
    min-height: 80px;
}

.timeline .MuiTimelineItem-root {
    min-height: 0px;
}